name: cicd-pipeline-for-nodejs
on: push
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v6.0.1
            - run: |
                echo "checkout ok"
