name: cicd-pipeline-for-nodejs
on: push
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v6.0.1
            - name: set up nodejs
              uses: actions/setup-node@v6.1.0
              with:
                node-version: 24
            - name: install dependecies
              run: |
                cd cart-app/cart-app
                npm init -y
                npm install
                ls -l 
                cd ../../cd login-app/login-app
                npm init -y
                npm install
                ls -l 
                cd ../../payment-app/payment-app
                npm init -y
                npm install
                ls -l 


